# Created by .gitignore support plugin (hsz.mobi)

joinConditions.obda
npd-v2-ql_a.ttl
npd-v2-ql_a.pretty.obda
simpleJoin.obda
mapping.obda
joinsinObjectMap.obda
mapping-northwind.ttl
npd-v2-ql_test_a.obda