<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
	<!-- Datasource Manager Views -->
	
	<extension id="DatasourcesManagerViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="Datasource editor"></label>
		<class
			value="org.semanticweb.ontop.protege4.views.DatasourcesManagerView">
		</class>
		<headerColor value="8C1717"/>
		<category value="ontop"></category>
	</extension>
	
	<extension id="MappingsManagerViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="Mapping editor"></label>
		<class
			value="org.semanticweb.ontop.protege4.views.MappingsManagerView">
		</class>
		<headerColor value="8C1717"/>
		<category value="ontop"></category>
		<navigates value="@org.protege.classcategory"/>
	</extension>
	
	<extension id="MappingAssistantViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="Mapping assistant"></label>
		<class
			value="org.semanticweb.ontop.protege4.views.MappingAssistantView">
		</class>
		<headerColor value="8C1717"/>
		<category value="ontop"></category>
	</extension>
	
	<!-- Individuals queries views -->
	
	<extension id="QueryManagerViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="Query manager"></label>
		<class
			value="org.semanticweb.ontop.protege4.views.QueryManagerView">
		</class>
		<headerColor value="8C1717"/>
		<category value="ontop"></category>
	</extension>
	
	<extension id="QueryInterfaceViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="ontop query editor"></label>
		<class
			value="org.semanticweb.ontop.protege4.views.QueryInterfaceView">
		</class>
		<headerColor value="8C1717"/>
		<category value="ontop"></category>
	</extension>
	
	<!-- Tabs -->
	
	<extension id="DatasourcesManagerTab"
		point="org.protege.editor.core.application.WorkspaceTab">
		<label value="ontop Mappings"></label>
		<class
			value="org.semanticweb.ontop.protege4.gui.tab.OBDATab">
		</class>
		<index value="X"></index>
		<editorKitId value="OWLEditorKit"></editorKitId>
		<defaultViewConfigFileName value="viewconfig-obdatab.xml">
		</defaultViewConfigFileName>
	</extension>
	
	<extension id="IndividualsQueryTab"
		point="org.protege.editor.core.application.WorkspaceTab">
		<label value="ontop SPARQL"></label>
		<class
			value="org.semanticweb.ontop.protege4.gui.tab.OBDAQueriesTab">
		</class>
		<index value="X"></index>
		<editorKitId value="OWLEditorKit"></editorKitId>
		<defaultViewConfigFileName value="viewconfig-indqueriesTab.xml">
		</defaultViewConfigFileName>
	</extension>

	<!-- Editor Kit setup extensions -->	

  <extension id="OBDAEditorKitSynchronizerPlugin" point="org.protege.editor.core.application.EditorKitHook">
  	<class value="org.semanticweb.ontop.protege4.core.OBDAEditorKitSynchronizerPlugin"/>
  	<editorKitId value="OWLEditorKit"/>
  </extension>
  
  <extension id="reformulation-configuration" point="org.protege.editor.core.application.preferencespanel">
    <label value="Quest"/>
    <class value="org.semanticweb.ontop.protege4.gui.preferences.OBDAOWLReformulationPlatformConfigPanel"/>
  </extension>
  
  <!-- MENUS -->
	
	<extension id="menu.obda" point="org.protege.editor.core.application.EditorKitMenuAction">
       <name value="ontop"/>
       <toolTip value="Actions related to the ontopPro plugin"/>
       <path value="/SlotZ-A"/>
       <editorKitId value="any"/>
   </extension>
	
  <extension id="menu.obda.materializemappings" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Materialize triples..."/>
		<toolTip value="Import OWL Assertions (ABox/Triples) from the mappings..."/>
		<class value="org.semanticweb.ontop.protege4.gui.action.AboxMaterializationAction"/>
		<path value="org.semanticweb.ontop.protege4.menu.obda/SlotA-A"></path>
		<editorKitId value="OWLEditorKit"/>
	</extension>

   <extension id="menu.obda.countmaterializedmappings" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Display the mapping statistics..."/> 
		<toolTip value="Provide information about the number of assertions (triples) from the mappings"/>
		<class value="org.semanticweb.ontop.protege4.gui.action.ABoxStatisticsAction"/>
		<path value="org.semanticweb.ontop.protege4.menu.obda/SlotB-A"></path>
		<editorKitId value="OWLEditorKit"/>
	</extension>
	
	 <extension id="menu.obda.inconsistecychecking" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Check for inconsistencies..."/> 
		<toolTip value="Run consistency check regarding disjoint and functional properties"/>
		<class value="org.semanticweb.ontop.protege4.gui.action.InconsistencyCheckAction"/>
		<path value="org.semanticweb.ontop.protege4.menu.obda/SlotB-B"></path>
		<editorKitId value="OWLEditorKit"/>
	</extension>
	
	<extension id="menu.obda.emptieschecking" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Check for empties..."/> 
		<toolTip value="Provide information about empty concepts and roles "/>
		<class value="org.semanticweb.ontop.protege4.gui.action.EmptiesCheckAction"/>
		<path value="org.semanticweb.ontop.protege4.menu.obda/SlotB-C"></path>
		<editorKitId value="OWLEditorKit"/>
	</extension>
	
	 <extension id="menu.obda.importr2rmlmappings" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Import R2RML mappings..."/> 
		<toolTip value="Import mappings from an R2RML mapping file"/>
		<class value="org.semanticweb.ontop.protege4.gui.action.R2RMLImportAction"/>
		<path value="org.semanticweb.ontop.protege4.menu.obda/SlotC-A"></path>
		<editorKitId value="OWLEditorKit"/>
	</extension>
	
	 <extension id="menu.obda.exportr2rmlmappings" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Export R2RML mappings..."/> 
		<toolTip value="Export mappings as an R2RML mapping file"/>
		<class value="org.semanticweb.ontop.protege4.gui.action.R2RMLExportAction"/>
		<path value="org.semanticweb.ontop.protege4.menu.obda/SlotC-B"></path>
		<editorKitId value="OWLEditorKit"/>
	</extension>
	
	<extension id="menu.obda.bootstrap" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Generate ontology and mappings..."/>
		<toolTip value="Automatically generates classes/propertis and mappings for a DB..."/>
		<class value="org.semanticweb.ontop.protege4.gui.action.BootstrapAction"/>
		<path value="org.semanticweb.ontop.protege4.menu.obda/SlotD-A"/>
		<editorKitId value="OWLEditorKit"/>
	</extension>

	<!-- Reasoner plugins -->
	<extension id="quest.reasoner.factory"
             point="org.protege.editor.owl.inference_reasonerfactory">
    <name value="Quest 2.0.0 (ontop)"/>
    <class value="org.semanticweb.ontop.protege4.core.ProtegeOBDAOWLReformulationPlatformFactory"/>

  </extension>
</plugin>
