/****** Object:  Database [stockexchange_new]    Script Date: 19.01.17 14:47:03 ******/
CREATE DATABASE [stockexchange_new];
GO
USE [stockexchange_new];
GO
/****** Object:  Table [dbo].[address]    Script Date: 19.01.17 14:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[address](
	[id] [int] NOT NULL,
	[street] [varchar](100) NOT NULL,
	[number] [int] NOT NULL,
	[city] [varchar](100) NOT NULL,
	[state] [varchar](100) NOT NULL,
	[country] [varchar](100) NOT NULL,
 CONSTRAINT [address_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[broker]    Script Date: 19.01.17 14:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[broker](
	[id] [int] NOT NULL,
 CONSTRAINT [broker_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[brokerworksfor]    Script Date: 19.01.17 14:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brokerworksfor](
	[brokerid] [int] NOT NULL,
	[companyid] [int] NULL,
	[clientid] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[client]    Script Date: 19.01.17 14:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id] [int] NOT NULL,
 CONSTRAINT [client_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[company]    Script Date: 19.01.17 14:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[company](
	[id] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[marketshares] [int] NOT NULL,
	[networth] [float] NOT NULL,
	[addressid] [int] NOT NULL,
 CONSTRAINT [company_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[person]    Script Date: 19.01.17 14:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[person](
	[id] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[lastname] [varchar](100) NOT NULL,
	[dateofbirth] [date] NOT NULL,
	[ssn] [varchar](100) NOT NULL,
	[addressid] [int] NOT NULL,
 CONSTRAINT [person_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[stockbooklist]    Script Date: 19.01.17 14:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stockbooklist](
	[date] [date] NOT NULL,
	[stockid] [int] NOT NULL,
 CONSTRAINT [stockbooklist_pkey] PRIMARY KEY CLUSTERED 
(
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[stockinformation]    Script Date: 19.01.17 14:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[stockinformation](
	[id] [int] NOT NULL,
	[numberofshares] [int] NOT NULL,
	[sharetype] [bit] NOT NULL,
	[companyid] [int] NOT NULL,
	[description] [varchar](200) NOT NULL,
 CONSTRAINT [stockinformation_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 19.01.17 14:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[stockid] [int] NOT NULL,
	[type] [bit] NOT NULL,
	[brokerid] [int] NOT NULL,
	[forclientid] [int] NULL,
	[forcompanyid] [int] NULL,
	[amount] [decimal](18, 4) NOT NULL,
 CONSTRAINT [transaction_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[address] ([id], [street], [number], [city], [state], [country]) VALUES (991, N'Road street', 24, N'Chonala', N'Veracruz', N'Mexico')
INSERT [dbo].[address] ([id], [street], [number], [city], [state], [country]) VALUES (992, N'Via Marconi', 3, N'Bolzano', N'Bolzano', N'Italy')
INSERT [dbo].[address] ([id], [street], [number], [city], [state], [country]) VALUES (993, N'Romer Street', 32, N'Malaga', N'Malaga', N'Spain')
INSERT [dbo].[broker] ([id]) VALUES (112)
INSERT [dbo].[broker] ([id]) VALUES (113)
INSERT [dbo].[broker] ([id]) VALUES (114)
INSERT [dbo].[brokerworksfor] ([brokerid], [companyid], [clientid]) VALUES (112, NULL, 111)
INSERT [dbo].[brokerworksfor] ([brokerid], [companyid], [clientid]) VALUES (112, NULL, 112)
INSERT [dbo].[brokerworksfor] ([brokerid], [companyid], [clientid]) VALUES (113, 212, NULL)
INSERT [dbo].[client] ([id]) VALUES (111)
INSERT [dbo].[client] ([id]) VALUES (112)
INSERT [dbo].[company] ([id], [name], [marketshares], [networth], [addressid]) VALUES (211, N'General Motors', 25000000, 1234.5678, 995)
INSERT [dbo].[company] ([id], [name], [marketshares], [networth], [addressid]) VALUES (212, N'GnA Investments', 100000, 1234.5678, 996)
INSERT [dbo].[person] ([id], [name], [lastname], [dateofbirth], [ssn], [addressid]) VALUES (111, N'John', N'Smith', CAST(0x00DD0A00 AS Date), N'JSRX229500321', 991)
INSERT [dbo].[person] ([id], [name], [lastname], [dateofbirth], [ssn], [addressid]) VALUES (112, N'Joana', N'Lopatenkko', CAST(0xFCF90A00 AS Date), N'JLPTK54992', 992)
INSERT [dbo].[person] ([id], [name], [lastname], [dateofbirth], [ssn], [addressid]) VALUES (113, N'Walter', N'Schmidt', CAST(0x55F70A00 AS Date), N'WSCH9820783903', 993)
INSERT [dbo].[stockbooklist] ([date], [stockid]) VALUES (CAST(0xCC2F0B00 AS Date), 661)
INSERT [dbo].[stockbooklist] ([date], [stockid]) VALUES (CAST(0xCD2F0B00 AS Date), 662)
INSERT [dbo].[stockbooklist] ([date], [stockid]) VALUES (CAST(0xCE2F0B00 AS Date), 663)
INSERT [dbo].[stockinformation] ([id], [numberofshares], [sharetype], [companyid], [description]) VALUES (660, 100, 0, 211, N'Text description 2')
INSERT [dbo].[stockinformation] ([id], [numberofshares], [sharetype], [companyid], [description]) VALUES (661, 100, 0, 211, N'Text description 1')
INSERT [dbo].[stockinformation] ([id], [numberofshares], [sharetype], [companyid], [description]) VALUES (662, 100, 0, 211, N'Text description 3')
INSERT [dbo].[transactions] ([id], [date], [stockid], [type], [brokerid], [forclientid], [forcompanyid], [amount]) VALUES (3331, CAST(0x00009A7100000000 AS DateTime), 661, 1, 112, 111, NULL, CAST(12.6000 AS Decimal(18, 4)))
INSERT [dbo].[transactions] ([id], [date], [stockid], [type], [brokerid], [forclientid], [forcompanyid], [amount]) VALUES (3332, CAST(0x00009A7200000000 AS DateTime), 662, 1, 112, 111, NULL, CAST(108.3400 AS Decimal(18, 4)))
INSERT [dbo].[transactions] ([id], [date], [stockid], [type], [brokerid], [forclientid], [forcompanyid], [amount]) VALUES (3333, CAST(0x00009A7300000000 AS DateTime), 663, 1, 112, NULL, 212, CAST(-2.3490 AS Decimal(18, 4)))
ALTER TABLE [dbo].[broker]  WITH CHECK ADD  CONSTRAINT [fk_person_broker_pkey] FOREIGN KEY([id])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[broker] CHECK CONSTRAINT [fk_person_broker_pkey]
GO
ALTER TABLE [dbo].[brokerworksfor]  WITH CHECK ADD  CONSTRAINT [fk_broker_pkey] FOREIGN KEY([brokerid])
REFERENCES [dbo].[broker] ([id])
GO
ALTER TABLE [dbo].[brokerworksfor] CHECK CONSTRAINT [fk_broker_pkey]
GO
ALTER TABLE [dbo].[brokerworksfor]  WITH CHECK ADD  CONSTRAINT [fk_brokerworksfor_brokerid_pkey] FOREIGN KEY([brokerid])
REFERENCES [dbo].[broker] ([id])
GO
ALTER TABLE [dbo].[brokerworksfor] CHECK CONSTRAINT [fk_brokerworksfor_brokerid_pkey]
GO
ALTER TABLE [dbo].[brokerworksfor]  WITH CHECK ADD  CONSTRAINT [fk_brokerworksfor_clientid_pkey] FOREIGN KEY([clientid])
REFERENCES [dbo].[client] ([id])
GO
ALTER TABLE [dbo].[brokerworksfor] CHECK CONSTRAINT [fk_brokerworksfor_clientid_pkey]
GO
ALTER TABLE [dbo].[brokerworksfor]  WITH CHECK ADD  CONSTRAINT [fk_brokerworksfor_companyid_pkey] FOREIGN KEY([companyid])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[brokerworksfor] CHECK CONSTRAINT [fk_brokerworksfor_companyid_pkey]
GO
ALTER TABLE [dbo].[client]  WITH CHECK ADD  CONSTRAINT [fk_person_client_pkey] FOREIGN KEY([id])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[client] CHECK CONSTRAINT [fk_person_client_pkey]
GO
ALTER TABLE [dbo].[company]  WITH CHECK ADD  CONSTRAINT [fk_address_company_pkey] FOREIGN KEY([addressid])
REFERENCES [dbo].[address] ([id])
GO
ALTER TABLE [dbo].[company] CHECK CONSTRAINT [fk_address_company_pkey]
GO
ALTER TABLE [dbo].[person]  WITH CHECK ADD  CONSTRAINT [fk_address_pkey] FOREIGN KEY([addressid])
REFERENCES [dbo].[address] ([id])
GO
ALTER TABLE [dbo].[person] CHECK CONSTRAINT [fk_address_pkey]
GO
ALTER TABLE [dbo].[stockbooklist]  WITH CHECK ADD  CONSTRAINT [fk_stockid_pkey] FOREIGN KEY([stockid])
REFERENCES [dbo].[stockinformation] ([id])
GO
ALTER TABLE [dbo].[stockbooklist] CHECK CONSTRAINT [fk_stockid_pkey]
GO
ALTER TABLE [dbo].[stockinformation]  WITH CHECK ADD  CONSTRAINT [fk_company_pkey] FOREIGN KEY([companyid])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[stockinformation] CHECK CONSTRAINT [fk_company_pkey]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [fk_broker_transaction_pkey] FOREIGN KEY([brokerid])
REFERENCES [dbo].[broker] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [fk_broker_transaction_pkey]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [fk_forclientid_pkey] FOREIGN KEY([forclientid])
REFERENCES [dbo].[client] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [fk_forclientid_pkey]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [fk_forcompanyid_pkey] FOREIGN KEY([forcompanyid])
REFERENCES [dbo].[company] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [fk_forcompanyid_pkey]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [fk_stockinformation_pkey] FOREIGN KEY([stockid])
REFERENCES [dbo].[stockinformation] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [fk_stockinformation_pkey]
GO
USE [master]
GO
QUIT