out-mapping-northwind.obda
mapping-northwind.r2rml
pretty-mapping-northwind.ttl
booktutorial.r2rml
mapping-booktutorial.obda
mapping-northwind.ttl
bootstrapped-univ-benchQL.obda
bootstrapped-univ-benchQL.owl