# ignore .git and .cache folders
.git
.cache

# ignore all *.class files in all folders, including build root
**/*.class

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md

#ignore docker commands
build-*.sh
remove-*.sh
run-*.sh
Dockerfile