<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>sqlgeneration.log</file>
    <append>false</append>
    <encoder>
      <pattern>%date %msg%n</pattern>
    </encoder>
  </appender>

	<logger name="it.fub.inf" level="INFO" />
	<logger name="it.fub.inf.quonto" level="INFO" />
	<logger name="it.fub.inf.quonto.dig11.http" level="INFO" />
	<logger name="it.uniroma1.dis.quonto.mastromanager" level="INFO" />
	<logger name="obda_tests" level="INFO" />
	<logger name="ch.qos.logback" level="WARN" />


	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
