<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>

	<!-- Datasource Manager Views -->
	
	<extension id="DatasourcesManagerViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="Datasource selector"></label>
		<class
			value="inf.unibz.it.obda.protege4.gui.view.DatasourcesManagerViewComponent">
		</class>
		<headerColor value="8C1717"/>
		<category value="OBDA"></category>
	</extension>
	
	<extension id="MappingsManagerViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="Mappings manager"></label>
		<class
			value="inf.unibz.it.obda.protege4.gui.view.MappingsManagerView">
		</class>
		<headerColor value="8C1717"/>
		<category value="OBDA"></category>
	</extension>
	
	<extension id="RDBMSInspectorViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="RDBMS source inspector"></label>
		<class
			value="inf.unibz.it.obda.protege4.gui.view.RDBMSInspectorView">
		</class>
		<headerColor value="8C1717"/>
		<category value="OBDA"></category>
	</extension>
	
	<extension id="SQLQueryInterfaceViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="RDBMS queries"></label>
		<class
			value="inf.unibz.it.obda.protege4.gui.view.SQLQueryInterfaceView">
		</class>
		<headerColor value="8C1717"/>
		<category value="OBDA"></category>
	</extension>
	
	
	
	<!-- Individuals queries views -->
	
	<extension id="QueryManagerViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="Query Manager"></label>
		<class
			value="inf.unibz.it.obda.protege4.gui.view.query.QueryManagerViewComponent">
		</class>
		<headerColor value="8C1717"/>
		<category value="ABox Query"></category>
	</extension>
	
	<extension id="QueryInterfaceViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="Individuals queries"></label>
		<class
			value="inf.unibz.it.obda.protege4.gui.view.query.QueryInterfaceViewComponent">
		</class>
		<headerColor value="8C1717"/>
		<category value="ABox Query"></category>
	</extension>
	
	
	<!--
	<extension id="QueryHistoryViewComponent"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="Query history"></label>
		<class
			value="inf.unibz.it.obda.protege4.gui.view.query.QueryHistoryViewComponent">
		</class>
		<headerColor value="8C1717"/>
		<category value="OBDA"></category>
	</extension> -->
	
	<!-- Tabs -->
	
	<extension id="DatasourcesManagerTab"
		point="org.protege.editor.core.application.WorkspaceTab">
		<label value="OBDA"></label>
		<class
			value="inf.unibz.it.obda.protege4.gui.tab.OBDAWorkspaceTab">
		</class>
		<index value="X"></index>
		<editorKitId value="OWLEditorKit"></editorKitId>
		<defaultViewConfigFileName value="viewconfig-obdatab.xml">
		</defaultViewConfigFileName>
	</extension>
	
	<extension id="IndividualsQueryTab"
		point="org.protege.editor.core.application.WorkspaceTab">
		<label value="ABox Query"></label>
		<class
			value="inf.unibz.it.obda.protege4.gui.tab.IndividualsQueriesWorkspaceTab">
		</class>
		<index value="X"></index>
		<editorKitId value="OWLEditorKit"></editorKitId>
		<defaultViewConfigFileName value="viewconfig-indqueriesTab.xml">
		</defaultViewConfigFileName>
	</extension>


	<!-- Editor Kit setup extensions -->	

  <extension id="OBDAIOListener" point="org.protege.editor.owl.io.listener">
    <class value="inf.unibz.it.obda.protege4.core.OBDAIOListenerPlugin"/>
  </extension>
    
  <extension id="OBDAEditorKitSynchronizerPlugin" point="org.protege.editor.core.application.EditorKitHook">
  	<class value="inf.unibz.it.obda.protege4.core.OBDAEditorKitSynchronizerPlugin"/>
  </extension>
  

    

	<!-- A type of plugin which defines a new assertion controller type which should 
	be taken into account by the main APIController when it is setup during the 
	creation of an OWLEditorKit -->
    
  <extension-point id="obda.controller" name="Assertion Controller"/>
    
    
  <!-- OBDA preferences -->
    
  <extension id="preferences.obdaplugin"
             point="org.protege.editor.core.application.preferencespanel">
    <label value="OBDA Plugin"/>
    <class value="inf.unibz.it.obda.protege4.gui.preferences.OBDAPluginPreferencesPanel"/>
  </extension>
  
  

  <extension id="reformulation-configuration"
             point="org.protege.editor.core.application.preferencespanel">
    <label value="Quest"/>
    <class value="org.obda.reformulation.protege4.configpanel.OBDAOWLReformulationPlatformConfigPanel"/>
  </extension>
  
    
  <!-- MENUS -->
	
	<extension id="menu.obda"
               point="org.protege.editor.core.application.EditorKitMenuAction">
       <name value="OBDA"/>
       <toolTip value="Actions related to the OBDA plugin"/>
       <path value="/SlotZ-A"/>
       <editorKitId value="any"/>
   </extension>
	
	<extension id="menu.obda.materializemappings" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Materialize Mappings to OWL"/> 
		<toolTip value="Materializes the Abox of the currently loaded ontology"/>
		<class value="inf.unibz.it.obda.protege4.abox.materialization.AboxMaterializationAction"/>
		<path value="inf.unibz.it.obda.protege4.obdaplugin.menu.obda/SlotA-B"></path>
		<editorKitId value="OWLEditorKit"/>
	</extension> -
	
  <extension id="menu.obda.loadaboxtodb" point="org.protege.editor.core.application.EditorKitMenuAction">
    <name value="Load OWL ABox to DB"/> 
    <toolTip value="Stores all ABox data in a database"/>
    <class value="org.obda.reformulation.protege4.action.AboxToDBAction"/>
    <path value="inf.unibz.it.obda.protege4.obdaplugin.menu.obda/SlotB-C"></path>
    <editorKitId value="OWLEditorKit"/>
  </extension> 

	<!-- Reasoner plugins -->

	<extension id="quest.reasoner.factory"
             point="org.protege.editor.owl.inference.reasonerfactory">
    <name value="Quest 1.0"/>
    <class value="org.obda.reformulation.protege4.ProtegeOBDAOWLReformulationPlatformFactory"/>
  </extension>

	
</plugin>
