"bsbm"."offer":"nr"
"bsbm"."offer":"vendor":"bsbm"."vendor":"nr"
"bsbm"."person":"nr"
"bsbm"."producer":"nr"
"bsbm"."product1":"nr"
"bsbm"."product1":"producer":"bsbm"."producer":"nr"
"bsbm"."product2":"nr"
"bsbm"."productfeature":"nr"
"bsbm"."productfeatureproduct1":"product","productfeature"
"bsbm"."productfeatureproduct1":"product":"bsbm"."product1":"nr"
"bsbm"."productfeatureproduct1":"productfeature":"bsbm"."productfeature":"nr"
"bsbm"."productfeatureproduct2":"product","productfeature"
"bsbm"."productfeatureproduct2":"product":"bsbm"."product2":"nr"
"bsbm"."productfeatureproduct2":"productfeature":"bsbm"."productfeature":"nr"
"bsbm"."producttype":"nr"
"bsbm"."producttypeproduct1":"product","producttype"
"bsbm"."producttypeproduct1":"product":"bsbm"."product1":"nr"
"bsbm"."producttypeproduct1":"producttype":"bsbm"."producttype":"nr"
"bsbm"."producttypeproduct2":"product","producttype"
"bsbm"."producttypeproduct2":"product":"bsbm"."product2":"nr"
"bsbm"."producttypeproduct2":"producttype":"bsbm"."producttype":"nr"
"bsbm"."review":"nr"
"bsbm"."review":"person":"bsbm"."person":"nr"
"bsbm"."reviewc":"nr"
"bsbm"."reviewc":"person":"bsbm"."person":"nr"
"bsbm"."vendor":"nr"