"ss4"."offer":"nr"
"ss4"."offer":"vendor":"ss4"."vendor":"nr"
"ss2"."person":"nr"
"ss4"."producer":"nr"
"ss1"."product1":"nr"
"ss1"."product1":"producer":"ss4"."producer":"nr"
"ss5"."product2":"nr"
"ss3"."productfeature":"nr"
"ss1"."productfeatureproduct1":"product","productfeature"
"ss1"."productfeatureproduct1":"product":"ss1"."product1":"nr"
"ss1"."productfeatureproduct1":"productfeature":"ss3"."productfeature":"nr"
"ss5"."productfeatureproduct2":"product","productfeature"
"ss5"."productfeatureproduct2":"product":"ss5"."product2":"nr"
"ss5"."productfeatureproduct2":"productfeature":"ss3"."productfeature":"nr"
"ss3"."producttype":"nr"
"ss1"."producttypeproduct1":"product","producttype"
"ss1"."producttypeproduct1":"product":"ss1"."product1":"nr"
"ss1"."producttypeproduct1":"producttype":"ss3"."producttype":"nr"
"ss5"."producttypeproduct2":"product","producttype"
"ss5"."producttypeproduct2":"product":"ss5"."product2":"nr"
"ss5"."producttypeproduct2":"producttype":"ss3"."producttype":"nr"
"ss2"."review":"nr"
"ss2"."review":"person":"ss2"."person":"nr"
"ss1"."reviewc":"nr"
"ss1"."reviewc":"person":"ss2"."person":"nr"
"ss4"."vendor":"nr"