:pk:"bsbm"."offer":"nr"
:nn:"bsbm"."offer":"nr","product","producer","vendor","price","validfrom","validto","deliverydays","offerwebpage","publisher","publishdate"
:fk:"bsbm"."offer":"producer":"bsbm"."producer":"nr"
:fk:"bsbm"."offer":"vendor":"bsbm"."vendor":"nr"
:fk:"bsbm"."offer":"product":"bsbm"."product":"nr"
:pk:"bsbm"."person":"nr"
:nn:"bsbm"."person":"nr","name","mbox_sha1sum","country","publisher","publishdate"
:pk:"bsbm"."producer":"nr"
:nn:"bsbm"."producer":"nr","label","comment","homepage","country","publisher","publishdate"
:pk:"bsbm"."product":"nr"
:nn:"bsbm"."product":"nr","label","comment","producer","propertynum1","propertynum2","propertynum3","propertytex1","propertytex2","propertytex3","publisher","publishdate"
:fk:"bsbm"."product":"producer":"bsbm"."producer":"nr"
:pk:"bsbm"."productfeature":"nr"
:nn:"bsbm"."productfeature":"nr","label","comment","publisher","publishdate"
:pk:"bsbm"."productfeatureproduct":"product","productfeature"
:nn:"bsbm"."productfeatureproduct":"product","productfeature"
:fk:"bsbm"."productfeatureproduct":"product":"bsbm"."product":"nr"
:fk:"bsbm"."productfeatureproduct":"productfeature":"bsbm"."productfeature":"nr"
:pk:"bsbm"."producttype":"nr"
:nn:"bsbm"."producttype":"nr","label","comment","publisher","publishdate"
:pk:"bsbm"."producttypeproduct":"product","producttype"
:nn:"bsbm"."producttypeproduct":"product","producttype"
:fk:"bsbm"."producttypeproduct":"product":"bsbm"."product":"nr"
:fk:"bsbm"."producttypeproduct":"producttype":"bsbm"."producttype":"nr"
:pk:"bsbm"."review":"nr"
:nn:"bsbm"."review":"nr","product","producer","person","reviewdate","title","text","language","publisher","publishdate"
:fk:"bsbm"."review":"producer":"bsbm"."producer":"nr"
:fk:"bsbm"."review":"person":"bsbm"."person":"nr"
:fk:"bsbm"."review":"product":"bsbm"."product":"nr"
:pk:"bsbm"."vendor":"nr"
:nn:"bsbm"."vendor":"nr","label","comment","homepage","country","publisher","publishdate"
