:pk:"bsbm"."offer":"nr"
:nn:"bsbm"."offer":"nr","product","producer","vendor","price","validfrom","validto","deliverydays","offerwebpage","publisher","publishdate"
:fk:"bsbm"."offer":"vendor":"bsbm"."vendor":"nr"
:pk:"bsbm"."person":"nr"
:nn:"bsbm"."person":"nr","name","mbox_sha1sum","country","publisher","publishdate"
:pk:"bsbm"."producer":"nr"
:nn:"bsbm"."producer":"nr","label","comment","homepage","country","publisher","publishdate"
:pk:"bsbm"."product1":"nr"
:nn:"bsbm"."product1":"nr","label","comment","producer","propertynum1","propertynum2","propertynum3","propertytex1","propertytex2","propertytex3","publisher","publishdate"
:fk:"bsbm"."product1":"producer":"bsbm"."producer":"nr"
:pk:"bsbm"."product2":"nr"
:nn:"bsbm"."product2":"nr","label","comment","producer","propertynum1","propertynum2","propertynum3","propertytex1","propertytex2","propertytex3","publisher","publishdate"
:fk:"bsbm"."product2":"producer":"bsbm"."producer":"nr"
:pk:"bsbm"."productfeature":"nr"
:nn:"bsbm"."productfeature":"nr","label","comment","publisher","publishdate"
:pk:"bsbm"."productfeatureproduct1":"product","productfeature"
:nn:"bsbm"."productfeatureproduct1":"product","productfeature"
:fk:"bsbm"."productfeatureproduct1":"product":"bsbm"."product1":"nr"
:fk:"bsbm"."productfeatureproduct1":"productfeature":"bsbm"."productfeature":"nr"
:pk:"bsbm"."productfeatureproduct2":"product","productfeature"
:nn:"bsbm"."productfeatureproduct2":"product","productfeature"
:fk:"bsbm"."productfeatureproduct2":"product":"bsbm"."product2":"nr"
:fk:"bsbm"."productfeatureproduct2":"productfeature":"bsbm"."productfeature":"nr"
:pk:"bsbm"."producttype":"nr"
:nn:"bsbm"."producttype":"nr","label","comment","publisher","publishdate"
:pk:"bsbm"."producttypeproduct1":"product","producttype"
:nn:"bsbm"."producttypeproduct1":"product","producttype"
:fk:"bsbm"."producttypeproduct1":"product":"bsbm"."product1":"nr"
:fk:"bsbm"."producttypeproduct1":"producttype":"bsbm"."producttype":"nr"
:pk:"bsbm"."producttypeproduct2":"product","producttype"
:nn:"bsbm"."producttypeproduct2":"product","producttype"
:fk:"bsbm"."producttypeproduct2":"product":"bsbm"."product2":"nr"
:fk:"bsbm"."producttypeproduct2":"producttype":"bsbm"."producttype":"nr"
:pk:"bsbm"."review":"nr"
:nn:"bsbm"."review":"nr","product","producer","person","reviewdate","title","text","language","publisher","publishdate"
:fk:"bsbm"."review":"person":"bsbm"."person":"nr"
:pk:"bsbm"."reviewc":"nr"
:nn:"bsbm"."reviewc":"nr","product","producer","person","reviewdate","title","text","language","publisher","publishdate"
:fk:"bsbm"."reviewc":"person":"bsbm"."person":"nr"
:pk:"bsbm"."vendor":"nr"
:nn:"bsbm"."vendor":"nr","label","comment","homepage","country","publisher","publishdate"
:pk:"bsbm"."matv_s4_offer_s1_product1":"1_0","2_0"
:nn:"bsbm"."matv_s4_offer_s1_product1":"1_0","1_1","1_2","1_3","1_4","1_5","1_6","1_7","1_8","1_9","1_10","2_0","2_1","2_2","2_3","2_4","2_5","2_6","2_10","2_11","2_12","2_16","2_17"
:fk:"bsbm"."matv_s4_offer_s1_product1":"1_0":"bsbm"."offer":"nr"
:fk:"bsbm"."matv_s4_offer_s1_product1":"1_3":"bsbm"."vendor":"nr"
:fk:"bsbm"."matv_s4_offer_s1_product1":"2_0":"bsbm"."product1":"nr"
:fk:"bsbm"."matv_s4_offer_s1_product1":"2_3":"bsbm"."producer":"nr"
:pk:"bsbm"."matv_s1_productfeatureproduct1_s3_productfeature":"1_0","2_0"
:nn:"bsbm"."matv_s1_productfeatureproduct1_s3_productfeature":"1_0","1_1","2_0","2_1","2_2","2_3","2_4"
:fk:"bsbm"."matv_s1_productfeatureproduct1_s3_productfeature":"1_0","1_1":"bsbm"."productfeatureproduct1":"product","productfeature"
:fk:"bsbm"."matv_s1_productfeatureproduct1_s3_productfeature":"1_0":"bsbm"."product1":"nr"
:fk:"bsbm"."matv_s1_productfeatureproduct1_s3_productfeature":"1_1":"bsbm"."productfeature":"nr"
:fk:"bsbm"."matv_s1_productfeatureproduct1_s3_productfeature":"2_0":"bsbm"."productfeature":"nr"
:pk:"bsbm"."matv_s5_productfeatureproduct2_s3_productfeature":"1_0","2_0"
:nn:"bsbm"."matv_s5_productfeatureproduct2_s3_productfeature":"1_0","1_1","2_0","2_1","2_2","2_3","2_4"
:fk:"bsbm"."matv_s5_productfeatureproduct2_s3_productfeature":"1_0","1_1":"bsbm"."productfeatureproduct2":"product","productfeature"
:fk:"bsbm"."matv_s5_productfeatureproduct2_s3_productfeature":"1_0":"bsbm"."product2":"nr"
:fk:"bsbm"."matv_s5_productfeatureproduct2_s3_productfeature":"1_1":"bsbm"."productfeature":"nr"
:fk:"bsbm"."matv_s5_productfeatureproduct2_s3_productfeature":"2_0":"bsbm"."productfeature":"nr"
:pk:"bsbm"."matv_s5_product2_s4_producer":"1_0","2_0"
:nn:"bsbm"."matv_s5_product2_s4_producer":"1_0","1_1","1_2","1_3","1_4","1_5","1_6","1_10","1_11","1_12","1_16","1_17","2_0","2_1","2_2","2_3","2_4","2_5","2_6"
:fk:"bsbm"."matv_s5_product2_s4_producer":"1_0":"bsbm"."product2":"nr"
:fk:"bsbm"."matv_s5_product2_s4_producer":"2_0":"bsbm"."producer":"nr"
:pk:"bsbm"."matv_s1_product1_s4_producer":"1_0","2_0"
:nn:"bsbm"."matv_s1_product1_s4_producer":"1_0","1_1","1_2","1_3","1_4","1_5","1_6","1_10","1_11","1_12","1_16","1_17","2_0","2_1","2_2","2_3","2_4","2_5","2_6"
:fk:"bsbm"."matv_s1_product1_s4_producer":"1_0":"bsbm"."product1":"nr"
:fk:"bsbm"."matv_s1_product1_s4_producer":"2_0":"bsbm"."producer":"nr"
:pk:"bsbm"."matv_s5_productfeatureproduct2_s4_offer":"1_0","1_1","2_0"
:nn:"bsbm"."matv_s5_productfeatureproduct2_s4_offer":"1_0","1_1","2_0","2_1","2_2","2_3","2_4","2_5","2_6","2_7","2_8","2_9","2_10"
:fk:"bsbm"."matv_s5_productfeatureproduct2_s4_offer":"1_0","1_1":"bsbm"."productfeatureproduct2":"product","productfeature"
:fk:"bsbm"."matv_s5_productfeatureproduct2_s4_offer":"1_0":"bsbm"."product2":"nr"
:fk:"bsbm"."matv_s5_productfeatureproduct2_s4_offer":"1_1":"bsbm"."productfeature":"nr"
:fk:"bsbm"."matv_s5_productfeatureproduct2_s4_offer":"2_0":"bsbm"."offer":"nr"
:fk:"bsbm"."matv_s5_productfeatureproduct2_s4_offer":"2_3":"bsbm"."vendor":"nr"
:pk:"bsbm"."matv_s4_offer_s5_product2":"1_0","2_0"
:nn:"bsbm"."matv_s4_offer_s5_product2":"1_0","1_1","1_2","1_3","1_4","1_5","1_6","1_7","1_8","1_9","1_10","2_0","2_1","2_2","2_3","2_4","2_5","2_6","2_10","2_11","2_12","2_16","2_17"
:fk:"bsbm"."matv_s4_offer_s5_product2":"1_0":"bsbm"."offer":"nr"
:fk:"bsbm"."matv_s4_offer_s5_product2":"1_3":"bsbm"."vendor":"nr"
:fk:"bsbm"."matv_s4_offer_s5_product2":"2_0":"bsbm"."product2":"nr"
:fk:"bsbm"."matv_s4_offer_s5_product2":"2_3":"bsbm"."producer":"nr"
:pk:"bsbm"."matv_s1_productfeatureproduct1_s4_offer":"1_0","1_1","2_0"
:nn:"bsbm"."matv_s1_productfeatureproduct1_s4_offer":"1_0","1_1","2_0","2_1","2_2","2_3","2_4","2_5","2_6","2_7","2_8","2_9","2_10"
:fk:"bsbm"."matv_s1_productfeatureproduct1_s4_offer":"1_0","1_1":"bsbm"."productfeatureproduct1":"product","productfeature"
:fk:"bsbm"."matv_s1_productfeatureproduct1_s4_offer":"1_0":"bsbm"."product1":"nr"
:fk:"bsbm"."matv_s1_productfeatureproduct1_s4_offer":"1_1":"bsbm"."productfeature":"nr"
:fk:"bsbm"."matv_s1_productfeatureproduct1_s4_offer":"2_0":"bsbm"."offer":"nr"
:fk:"bsbm"."matv_s1_productfeatureproduct1_s4_offer":"2_3":"bsbm"."vendor":"nr"
