"s4"."offer":"nr"
"s4"."offer":"vendor":"s4"."vendor":"nr"
"s2"."person":"nr"
"s4"."producer":"nr"
"s1"."product1":"nr"
"s1"."product1":"producer":"s4"."producer":"nr"
"s5"."product2":"nr"
"s5"."product2":"producer":"s4"."producer":"nr"
"s3"."productfeature":"nr"
"s1"."productfeatureproduct1":"product","productfeature"
"s1"."productfeatureproduct1":"product":"s1"."product1":"nr"
"s1"."productfeatureproduct1":"productfeature":"s3"."productfeature":"nr"
"s5"."productfeatureproduct2":"product","productfeature"
"s5"."productfeatureproduct2":"product":"s5"."product2":"nr"
"s5"."productfeatureproduct2":"productfeature":"s3"."productfeature":"nr"
"s3"."producttype":"nr"
"s1"."producttypeproduct1":"product","producttype"
"s1"."producttypeproduct1":"product":"s1"."product1":"nr"
"s1"."producttypeproduct1":"producttype":"s3"."producttype":"nr"
"s5"."producttypeproduct2":"product","producttype"
"s5"."producttypeproduct2":"product":"s5"."product2":"nr"
"s5"."producttypeproduct2":"producttype":"s3"."producttype":"nr"
"s2"."review":"nr"
"s2"."review":"person":"s2"."person":"nr"
"s1"."reviewc":"nr"
"s1"."reviewc":"person":"s2"."person":"nr"
"s4"."vendor":"nr"
"smatv"."matv_s4_offer_s1_product1":"1_0","2_0"
"smatv"."matv_s4_offer_s1_product1":"1_0":"s4"."offer":"nr"
"smatv"."matv_s4_offer_s1_product1":"1_3":"s4"."vendor":"nr"
"smatv"."matv_s4_offer_s1_product1":"2_0":"s1"."product1":"nr"
"smatv"."matv_s4_offer_s1_product1":"2_3":"s4"."producer":"nr"
"smatv"."matv_s1_productfeatureproduct1_s3_productfeature":"1_0","2_0"
"smatv"."matv_s1_productfeatureproduct1_s3_productfeature":"1_0","1_1":"s1"."productfeatureproduct1":"product","productfeature"
"smatv"."matv_s1_productfeatureproduct1_s3_productfeature":"1_0":"s1"."product1":"nr"
"smatv"."matv_s1_productfeatureproduct1_s3_productfeature":"1_1":"s3"."productfeature":"nr"
"smatv"."matv_s1_productfeatureproduct1_s3_productfeature":"2_0":"s3"."productfeature":"nr"
"smatv"."matv_s5_productfeatureproduct2_s3_productfeature":"1_0","2_0"
"smatv"."matv_s5_productfeatureproduct2_s3_productfeature":"1_0","1_1":"s5"."productfeatureproduct2":"product","productfeature"
"smatv"."matv_s5_productfeatureproduct2_s3_productfeature":"1_0":"s5"."product2":"nr"
"smatv"."matv_s5_productfeatureproduct2_s3_productfeature":"1_1":"s3"."productfeature":"nr"
"smatv"."matv_s5_productfeatureproduct2_s3_productfeature":"2_0":"s3"."productfeature":"nr"
"smatv"."matv_s5_product2_s4_producer":"1_0","2_0"
"smatv"."matv_s5_product2_s4_producer":"1_0":"s5"."product2":"nr"
"smatv"."matv_s5_product2_s4_producer":"2_0":"s4"."producer":"nr"
"smatv"."matv_s1_product1_s4_producer":"1_0","2_0"
"smatv"."matv_s1_product1_s4_producer":"1_0":"s1"."product1":"nr"
"smatv"."matv_s1_product1_s4_producer":"2_0":"s4"."producer":"nr"
"smatv"."matv_s5_productfeatureproduct2_s4_offer":"1_0","1_1","2_0"
"smatv"."matv_s5_productfeatureproduct2_s4_offer":"1_0","1_1":"s5"."productfeatureproduct2":"product","productfeature"
"smatv"."matv_s5_productfeatureproduct2_s4_offer":"1_0":"s5"."product2":"nr"
"smatv"."matv_s5_productfeatureproduct2_s4_offer":"1_1":"s3"."productfeature":"nr"
"smatv"."matv_s5_productfeatureproduct2_s4_offer":"2_0":"s4"."offer":"nr"
"smatv"."matv_s5_productfeatureproduct2_s4_offer":"2_3":"s4"."vendor":"nr"
"smatv"."matv_s4_offer_s5_product2":"1_0","2_0"
"smatv"."matv_s4_offer_s5_product2":"1_0":"s4"."offer":"nr"
"smatv"."matv_s4_offer_s5_product2":"1_3":"s4"."vendor":"nr"
"smatv"."matv_s4_offer_s5_product2":"2_0":"s5"."product2":"nr"
"smatv"."matv_s4_offer_s5_product2":"2_3":"s4"."producer":"nr"
"smatv"."matv_s1_productfeatureproduct1_s4_offer":"1_0","1_1","2_0"
"smatv"."matv_s1_productfeatureproduct1_s4_offer":"1_0","1_1":"s1"."productfeatureproduct1":"product","productfeature"
"smatv"."matv_s1_productfeatureproduct1_s4_offer":"1_0":"s1"."product1":"nr"
"smatv"."matv_s1_productfeatureproduct1_s4_offer":"1_1":"s3"."productfeature":"nr"
"smatv"."matv_s1_productfeatureproduct1_s4_offer":"2_0":"s4"."offer":"nr"
"smatv"."matv_s1_productfeatureproduct1_s4_offer":"2_3":"s4"."vendor":"nr"
