:pk:"s4"."offer":"nr"
:nn:"s4"."offer":"nr","product","producer","vendor","price","validfrom","validto","deliverydays","offerwebpage","publisher","publishdate"
:fk:"s4"."offer":"vendor":"s4"."vendor":"nr"
:pk:"s2"."person":"nr"
:nn:"s2"."person":"nr","name","mbox_sha1sum","country","publisher","publishdate"
:pk:"s4"."producer":"nr"
:nn:"s4"."producer":"nr","label","comment","homepage","country","publisher","publishdate"
:pk:"s1"."product1":"nr"
:nn:"s1"."product1":"nr","label","comment","producer","propertynum1","propertynum2","propertynum3","propertytex1","propertytex2","propertytex3","publisher","publishdate"
:fk:"s1"."product1":"producer":"s4"."producer":"nr"
:pk:"s5"."product2":"nr"
:nn:"s5"."product2":"nr","label","comment","producer","propertynum1","propertynum2","propertynum3","propertytex1","propertytex2","propertytex3","publisher","publishdate"
:fk:"s5"."product2":"producer":"s4"."producer":"nr"
:pk:"s3"."productfeature":"nr"
:nn:"s3"."productfeature":"nr","label","comment","publisher","publishdate"
:pk:"s1"."productfeatureproduct1":"product","productfeature"
:nn:"s1"."productfeatureproduct1":"product","productfeature"
:fk:"s1"."productfeatureproduct1":"product":"s1"."product1":"nr"
:fk:"s1"."productfeatureproduct1":"productfeature":"s3"."productfeature":"nr"
:pk:"s5"."productfeatureproduct2":"product","productfeature"
:nn:"s5"."productfeatureproduct2":"product","productfeature"
:fk:"s5"."productfeatureproduct2":"product":"s5"."product2":"nr"
:fk:"s5"."productfeatureproduct2":"productfeature":"s3"."productfeature":"nr"
:pk:"s3"."producttype":"nr"
:nn:"s3"."producttype":"nr","label","comment","publisher","publishdate"
:pk:"s1"."producttypeproduct1":"product","producttype"
:nn:"s1"."producttypeproduct1":"product","producttype"
:fk:"s1"."producttypeproduct1":"product":"s1"."product1":"nr"
:fk:"s1"."producttypeproduct1":"producttype":"s3"."producttype":"nr"
:pk:"s5"."producttypeproduct2":"product","producttype"
:nn:"s5"."producttypeproduct2":"product","producttype"
:fk:"s5"."producttypeproduct2":"product":"s5"."product2":"nr"
:fk:"s5"."producttypeproduct2":"producttype":"s3"."producttype":"nr"
:pk:"s2"."review":"nr"
:nn:"s2"."review":"nr","product","producer","person","reviewdate","title","text","language","publisher","publishdate"
:fk:"s2"."review":"person":"s2"."person":"nr"
:pk:"s1"."reviewc":"nr"
:nn:"s1"."reviewc":"nr","product","producer","person","reviewdate","title","text","language","publisher","publishdate"
:fk:"s1"."reviewc":"person":"s2"."person":"nr"
:pk:"s4"."vendor":"nr"
:nn:"s4"."vendor":"nr","label","comment","homepage","country","publisher","publishdate"
:pk:"smatv"."matv_s4_offer_s1_product1":"1_0","2_0"
:nn:"smatv"."matv_s4_offer_s1_product1":"1_0","1_1","1_2","1_3","1_4","1_5","1_6","1_7","1_8","1_9","1_10","2_0","2_1","2_2","2_3","2_4","2_5","2_6","2_10","2_11","2_12","2_16","2_17"
:fk:"smatv"."matv_s4_offer_s1_product1":"1_0":"s4"."offer":"nr"
:fk:"smatv"."matv_s4_offer_s1_product1":"1_3":"s4"."vendor":"nr"
:fk:"smatv"."matv_s4_offer_s1_product1":"2_0":"s1"."product1":"nr"
:fk:"smatv"."matv_s4_offer_s1_product1":"2_3":"s4"."producer":"nr"
:pk:"smatv"."matv_s1_productfeatureproduct1_s3_productfeature":"1_0","2_0"
:nn:"smatv"."matv_s1_productfeatureproduct1_s3_productfeature":"1_0","1_1","2_0","2_1","2_2","2_3","2_4"
:fk:"smatv"."matv_s1_productfeatureproduct1_s3_productfeature":"1_0","1_1":"s1"."productfeatureproduct1":"product","productfeature"
:fk:"smatv"."matv_s1_productfeatureproduct1_s3_productfeature":"1_0":"s1"."product1":"nr"
:fk:"smatv"."matv_s1_productfeatureproduct1_s3_productfeature":"1_1":"s3"."productfeature":"nr"
:fk:"smatv"."matv_s1_productfeatureproduct1_s3_productfeature":"2_0":"s3"."productfeature":"nr"
:pk:"smatv"."matv_s5_productfeatureproduct2_s3_productfeature":"1_0","2_0"
:nn:"smatv"."matv_s5_productfeatureproduct2_s3_productfeature":"1_0","1_1","2_0","2_1","2_2","2_3","2_4"
:fk:"smatv"."matv_s5_productfeatureproduct2_s3_productfeature":"1_0","1_1":"s5"."productfeatureproduct2":"product","productfeature"
:fk:"smatv"."matv_s5_productfeatureproduct2_s3_productfeature":"1_0":"s5"."product2":"nr"
:fk:"smatv"."matv_s5_productfeatureproduct2_s3_productfeature":"1_1":"s3"."productfeature":"nr"
:fk:"smatv"."matv_s5_productfeatureproduct2_s3_productfeature":"2_0":"s3"."productfeature":"nr"
:pk:"smatv"."matv_s5_product2_s4_producer":"1_0","2_0"
:nn:"smatv"."matv_s5_product2_s4_producer":"1_0","1_1","1_2","1_3","1_4","1_5","1_6","1_10","1_11","1_12","1_16","1_17","2_0","2_1","2_2","2_3","2_4","2_5","2_6"
:fk:"smatv"."matv_s5_product2_s4_producer":"1_0":"s5"."product2":"nr"
:fk:"smatv"."matv_s5_product2_s4_producer":"2_0":"s4"."producer":"nr"
:pk:"smatv"."matv_s1_product1_s4_producer":"1_0","2_0"
:nn:"smatv"."matv_s1_product1_s4_producer":"1_0","1_1","1_2","1_3","1_4","1_5","1_6","1_10","1_11","1_12","1_16","1_17","2_0","2_1","2_2","2_3","2_4","2_5","2_6"
:fk:"smatv"."matv_s1_product1_s4_producer":"1_0":"s1"."product1":"nr"
:fk:"smatv"."matv_s1_product1_s4_producer":"2_0":"s4"."producer":"nr"
:pk:"smatv"."matv_s5_productfeatureproduct2_s4_offer":"1_0","1_1","2_0"
:nn:"smatv"."matv_s5_productfeatureproduct2_s4_offer":"1_0","1_1","2_0","2_1","2_2","2_3","2_4","2_5","2_6","2_7","2_8","2_9","2_10"
:fk:"smatv"."matv_s5_productfeatureproduct2_s4_offer":"1_0","1_1":"s5"."productfeatureproduct2":"product","productfeature"
:fk:"smatv"."matv_s5_productfeatureproduct2_s4_offer":"1_0":"s5"."product2":"nr"
:fk:"smatv"."matv_s5_productfeatureproduct2_s4_offer":"1_1":"s3"."productfeature":"nr"
:fk:"smatv"."matv_s5_productfeatureproduct2_s4_offer":"2_0":"s4"."offer":"nr"
:fk:"smatv"."matv_s5_productfeatureproduct2_s4_offer":"2_3":"s4"."vendor":"nr"
:pk:"smatv"."matv_s4_offer_s5_product2":"1_0","2_0"
:nn:"smatv"."matv_s4_offer_s5_product2":"1_0","1_1","1_2","1_3","1_4","1_5","1_6","1_7","1_8","1_9","1_10","2_0","2_1","2_2","2_3","2_4","2_5","2_6","2_10","2_11","2_12","2_16","2_17"
:fk:"smatv"."matv_s4_offer_s5_product2":"1_0":"s4"."offer":"nr"
:fk:"smatv"."matv_s4_offer_s5_product2":"1_3":"s4"."vendor":"nr"
:fk:"smatv"."matv_s4_offer_s5_product2":"2_0":"s5"."product2":"nr"
:fk:"smatv"."matv_s4_offer_s5_product2":"2_3":"s4"."producer":"nr"
:pk:"smatv"."matv_s1_productfeatureproduct1_s4_offer":"1_0","1_1","2_0"
:nn:"smatv"."matv_s1_productfeatureproduct1_s4_offer":"1_0","1_1","2_0","2_1","2_2","2_3","2_4","2_5","2_6","2_7","2_8","2_9","2_10"
:fk:"smatv"."matv_s1_productfeatureproduct1_s4_offer":"1_0","1_1":"s1"."productfeatureproduct1":"product","productfeature"
:fk:"smatv"."matv_s1_productfeatureproduct1_s4_offer":"1_0":"s1"."product1":"nr"
:fk:"smatv"."matv_s1_productfeatureproduct1_s4_offer":"1_1":"s3"."productfeature":"nr"
:fk:"smatv"."matv_s1_productfeatureproduct1_s4_offer":"2_0":"s4"."offer":"nr"
:fk:"smatv"."matv_s1_productfeatureproduct1_s4_offer":"2_3":"s4"."vendor":"nr"