"bsbm"."offer":"nr"
"bsbm"."offer":"vendor":"bsbm"."vendor":"nr"
"bsbm"."offer":"product":"bsbm"."product":"nr"
"bsbm"."person":"nr"
"bsbm"."producer":"nr"
"bsbm"."product":"nr"
"bsbm"."product":"producer":"bsbm"."producer":"nr"
"bsbm"."productfeature":"nr"
"bsbm"."productfeatureproduct":"product","productfeature"
"bsbm"."productfeatureproduct":"product":"bsbm"."product":"nr"
"bsbm"."productfeatureproduct":"productfeature":"bsbm"."productfeature":"nr"
"bsbm"."producttype":"nr"
"bsbm"."producttypeproduct":"product","producttype"
"bsbm"."producttypeproduct":"product":"bsbm"."product":"nr"
"bsbm"."producttypeproduct":"producttype":"bsbm"."producttype":"nr"
"bsbm"."review":"nr"
"bsbm"."review":"person":"bsbm"."person":"nr"
"bsbm"."review":"product":"bsbm"."product":"nr"
"bsbm"."vendor":"nr"
