<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n
			</pattern>
		</encoder>
	</appender>


  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>sqlgeneration.log</file>
    <append>false</append>
    <encoder>
      <pattern>%date %msg%n</pattern>
    </encoder>
  </appender>

	<logger name="ch.qos.logback" level="WARN" />
	
	<logger name="org.obda.owlrefplatform.core.reformulation" level="DEBUG" />
	<logger name="org.obda.owlrefplatform.core.basicoperations" level="DEBUG"/>
	

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		
	</root>
</configuration>
