<?xml version="1.0" ?>

<plugin>

	<extension id="quonto.reasoner.factory"
               point="org.protege.editor.owl.inference.reasonerfactory">
        <name value="OBDAOWLReformulationPlatform"/>
        <class value="org.obda.reformulation.protege4.ProtegeOBDAOWLReformulationPlatformFactory"/>
    </extension>

	<extension id="menu.tools.OBDA" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="Dump Abox to DB"/> 
		<toolTip value="Stores all ABox values in a data base"/>
		<class value="org.obda.reformulation.protege4.action.AboxToDBAction"/>
		<path value="org.protege.editor.owl.menu.tools/SlotZ-Z"></path>
		<editorKitId value="OWLEditorKit"/>
	</extension>

	  <extension id="reformulation-configuration"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="Reformulation Plugin"/>
        <class value="org.obda.reformulation.protege4.configpanel.OBDAOWLReformulationPlatformConfigPanel"/>
    </extension>

	 <extension id="OBDAEditorKitSynchronizerPlugin" point="org.protege.editor.core.application.EditorKitHook">
    	<class value="org.obda.reformulation.protege4.OBDAOWLReformulationEditorKitStarter"/>
    </extension>

</plugin>