<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="org.eclipse.rdf4j.common.logging.file.logback.StackTracePatternLayout"/>
		</encoder>
	</appender>

	<root>
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
