@import url(../w3-html40-recommended.css);

html, body {
	color: #000;
	background: #fff;
	font-family: "Times New Roman", "Times", serif;
	font-size: 100%;
	line-height: 110%;
}

h1 {
	page-break-before: avoid;
}

th,td {
	vertical-align: top;
	text-align: left;
}

#header, #navigation, #contentheader {
	display: none;
}

#footer {
	position: absolute;
	bottom: 2em;
}